/* font-family: "Inter", sans-serif;
font-family: "Montserrat", sans-serif;
font-family: "Roboto", sans-serif;
font-family: "Work Sans", sans-serif; */

body {
  background-color: #f4f4f4 !important;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
* {
  font-family: "Inter", sans-serif;
}
